#div1 {
    height: 50px;
    width: 100%;
    font-size: 50px;
    text-align: center;
}

#div2 {
    height: auto;
    width: 15%;
    text-align: left;
    background-color: cadetblue;
}

#body1 {
    background: url("https://github.com/victor881212/wp110b/blob/master/homework/html/material/picture.jpg?raw=true");
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
